*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    border: solid 1px black;
    padding-top:1% ;
    padding-bottom:1% ;
    background-color: #78909C;
    font-size: large;
    }
    a{
        text-decoration: none;
        color: black;
    }
    #options {
    display: flex;
    justify-content: space-between;
    }
    #options h3 {
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 40px;
    }
    .mealName,.incr{
        padding-top: 5px;
        padding-left: 10%;
        padding-right: 10%;
    }
    img{
        width: 100%;
        padding: 10%;
    }
    #search {
        width: 40%;
        font-size: large;
        border-radius: 5px;
        border: none;
        margin:auto;
        height: 50px;
    }
    #dis{
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 1%;
        margin:auto;
    }
    #lD{
        width: 12%;
        margin: auto;
        margin-top: 1%;
        font-style: italic;
    }
    #btn{
        margin-top: 30px;
        width: 100px;
        height: 45px;
        padding: 10px;
        font-size:large  ;
        margin-left: none;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }
    #slideshow{
        width: 100%;
    }
    #wlcm{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .imag{
        padding-bottom: 8%;
        width: 100%;
        height: 1000px;
    }
    .catName{
        text-align: center;
    }
    .pic{
        box-shadow: 1px 1px 2px 5px black;
        margin-left: 15px;
    }
    .pic:hover{
        background-color: silver;
        border-radius: 10px;
    }
